.body {
  font-family: "nevis";
  background-image: url("https://qtxasset.com/fiercepharma/1613598427/Coronavirus%20vaccine.jpg?NpvxFyj0ZwJBsp3Um5VkJrL9sGTMtSON");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  color: whitesmoke;
  display: flex;
}

.pic {
  object-fit: contain;
  width: 250px;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.body-left {
  text-align: center;
  margin: 130px 0;
  flex: 0.5;
}

.body-right {
  background-color: rgba(0, 0, 0, 0.712);
  flex: 0.5;
  padding: 130px 0;
  text-align: center;
}

.register {
  font-family: "nevis";
  outline: none;
  background-color: #23689b;
  padding: 20px 40px;
  color: whitesmoke;
  font-weight: 800;
  border: 2px solid #23689b;
  font-size: 1.05rem;
  border-radius: 400px;
  box-shadow: 3px 0 5px rgba(0, 0, 0, 0.452);
  margin: 50px;
  cursor: pointer;
}

.register:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

.topbar {
  font-family: "nevis";
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
  padding: 20px;
}
.logo {
  display: flex;
  align-items: center;
}

.app-logo {
  object-fit: contain;
  height: 38px;
  margin-right: 10px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.16);
  border-radius: 65%;
}

.tabs {
  display: flex;
  align-items: center;
}

.tabs > * {
  margin: 0 10px;
  cursor: pointer;
}

.tabs > *:hover {
  color: #6e7f94;
}

.stats {
  font-family: "nevis";
  display: flex;
  height: 350px;
  width: 100vw;
}

.stats-left {
  flex: 0.5;
  width: 50vw;
  background-color: #fff;
}

.stats-heading {
  font-family: "nevis";
  text-align: center;
  color: rgb(82, 82, 82);
  padding: 25px 0;
}

.stats-right {
  width: 50vw;
  flex: 0.5;
  text-align: center;
  background-color: #eefdfe;
}

.stats-1,
.stats-2 {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.vacbars {
  font-family: "nevis";
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.odometerstats {
  font-family: "nevis";
  text-align: center;
  color: black;
  background-color: #eefdfe;
  margin: 10px;
  padding: 30px 20px 0px;
  height: 100px;
  width: 180px;
  border-radius: 15px;
  box-shadow: -1px 10px 6px rgba(0, 0, 0, 0.16);
}

.odometerstats:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

.news {
  width: 100vw;
  height: 540px;
  display: flex;
  overflow-x: scroll;
}
.news-clm {
  background: linear-gradient(to top right, #5bdada -45%, #ffffff 79%);
}

a {
  color: black;
  text-decoration: none;
}

.news-articles {
  background-color: #eefdfe;
  margin: 20px;
  padding: 40px;
  text-align: center;
  width: 370px;
  height: 490px;
  border-radius: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.news-articles:hover {
  transform: scale(1.06);
  transition: 0.3s;
  display: block;
}

.news-img {
  height: 80px;
  width: 200px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.hide {
  color: indigo;
  font-weight: 700;
  font-size: 0rem;
}

.news-articles:hover .hide {
  font-size: 1rem;
  transition: 0.3s;
}

.footer {
  font-family: "nevis";
  text-align: center;
  height: 50px;
}

.footer-txt {
  color: #fff;
  padding: 20px;
  background-color: #15324e;
  font-weight: 700;
}

.covid-news {
  letter-spacing: 5px;
}

.shownearbybtn {
  padding: 15px;
  margin-right: 20px;
  outline: none;
  background-color: black;
  color: white;
  border-radius: 25px;
  border: none;
  font-weight: 700;
  width: 200px;
  text-align: center;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.418);
  cursor: pointer;
}

.shownearbybtn:hover {
  transform: scale(1.05);
  transition: 0.3s;
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.418);
}

.hospitals-list {
  margin: 20px;
}

.hospital-card {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  background-color: #e8e8e8;
  margin: 40px 0 30px;
  width: 96.5vw;
  height: 280px;
  padding: 50px 25px;
  border-radius: 20px;
}

.card-links {
  padding-right: 20px;
  color: rgb(119, 49, 184);
}

.card-links:hover {
  color: rgb(85, 12, 85);
}

.forbtn {
  text-align: right;
}

.admin-hospi {
  display: flex;
  justify-content: space-between;
}

.del-btn {
  width: 100px;
  height: 30px;
  outline: none;
  border: none;
  color: white;
  background-color: black;
  font-weight: 700;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.226);
  margin-left: 25px;
}

.del-btn:hover,
.edit-btn:hover {
  transform: scale(1.05);
  box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.226);
  transition: 0.3s;
}

.addbtn {
  border-radius: 50%;
  outline: none;
  border: none;
  color: white;
  background-color: #440a67;
  font-size: 2.3rem;
  padding: 0 10.5px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.226);
  cursor: pointer;
  margin-right: 30px;
}

.addbtn:hover {
  transform: scale(1.08) rotate(180deg);
  transition: 0.3s;
}

.edit-btn {
  width: 100px;
  height: 30px;
  outline: none;
  border: none;
  background-color: white;
  color: black;
  font-weight: 700;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.226);
}

.success {
  text-align: center;
  padding: 60px;
}

.succ {
  margin-top: 30px;
}
